### Data Processing

In [1]:
import pandas as pd
data = {
    'Name' : ['Pavan','Kapil','Lalit','Ishan','Om'],
    'Age' : [25,None,44,23,None],
    'Salary' : [50000,60000,70000,None,None]
}
df = pd.DataFrame(data)
print("Original DataFrame : ")
print(df)
print(df.isnull().mean() * 100) #percentage of missing data  2/5*100

print(df.isnull().sum())  #Total number of null values
df_drop = df.dropna() #drop missing values row
print(df_drop)

#Fill null values
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print(df)

Original DataFrame :
    Name   Age   Salary
0  Pavan  25.0  50000.0
1  Kapil   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4     Om   NaN      NaN
Name       0.0
Age       40.0
Salary    40.0
dtype: float64
Name      0
Age       2
Salary    2
dtype: int64
    Name   Age   Salary
0  Pavan  25.0  50000.0
2  Lalit  44.0  70000.0
    Name        Age   Salary
0  Pavan  25.000000  50000.0
1  Kapil  30.666667  60000.0
2  Lalit  44.000000  70000.0
3  Ishan  23.000000  60000.0
4     Om  30.666667  60000.0

C:\Users\goyan\AppData\Local\Temp\ipykernel_1200\2864733124.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
C:\Users\goyan\AppData\Local\Temp\ipykernel_1200\2864733124.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(),inplace=True)

### Label Encoding

In [3]:
from sklearn.preprocessing import LabelEncoder #used in catogory area 1 or 2 values
import pandas as pd
df = pd.read_csv("students.csv")
df_label = df.copy()
le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])
print("Label Encoded Data")
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

Label Encoded Data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman    Male               1    Yes               2
1    Priya  Female               0    Yes               2
2    Rahul    Male               1     Np               1
3   Anjali  Female               0    Yes               2
4     Ravi    Male               1    Yes               2
5    Meera  Female               0     No               0
6    Arjun    Male               1    Yes               2
7     Neha  Female               0    Yes               2
8    Imran    Male               1     No               0
9    Sneha  Female               0    Yes               2
10     Raj    Male               1    Yes               2
11   Divya  Female               0     No               0
12   Kabir    Male               1    Yes               2
13  Simran  Female               0    Yes               2
14   Karan    Male               1     No               0
15   Pooja  Female               0    Yes               2
16  Rakesh    Male               1    Yes               2
17    Isha  Female               0     No               0
18   Rohit    Male               1    Yes               2
19   Deepa  Female               0    Yes               2

In [4]:
df_encoded1 = pd.get_dummies(df_label,columns=['City'])
df_encoded2 = pd.get_dummies(df_label,columns=['City'],dtype=int)
print("One-Hot Encoded Data (City)")
print(df_encoded1)
print(df_encoded2)

One-Hot Encoded Data (City)
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               2           False
1    Priya  Female    Yes               0               2           False
2    Rahul    Male     Np               1               1            True
3   Anjali  Female    Yes               0               2           False
4     Ravi    Male    Yes               1               2           False
5    Meera  Female     No               0               0           False
6    Arjun    Male    Yes               1               2            True
7     Neha  Female    Yes               0               2           False
8    Imran    Male     No               1               0           False
9    Sneha  Female    Yes               0               2           False
10     Raj    Male    Yes               1               2           False
11   Divya  Female     No               0               0           False
12   Kabir    Male    Yes               1               2           False
13  Simran  Female    Yes               0               2            True
14   Karan    Male     No               1               0           False
15   Pooja  Female    Yes               0               2           False
16  Rakesh    Male    Yes               1               2           False
17    Isha  Female     No               0               0           False
18   Rohit    Male    Yes               1               2           False
19   Deepa  Female    Yes               0               2            True

    City_Chennai  City_Delhi  City_Mumbai
0          False        True        False
1          False       False         True
2          False       False        False
3          False       False         True
4          False        True        False
5           True       False        False
6          False       False        False
7          False        True        False
8           True       False        False
9          False       False         True
10          True       False        False
11         False        True        False
12         False       False         True
13         False       False        False
14         False        True        False
15         False       False         True
16          True       False        False
17         False        True        False
18         False        True        False
19         False       False        False
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               2               0
1    Priya  Female    Yes               0               2               0
2    Rahul    Male     Np               1               1               1
3   Anjali  Female    Yes               0               2               0
4     Ravi    Male    Yes               1               2               0
5    Meera  Female     No               0               0               0
6    Arjun    Male    Yes               1               2               1
7     Neha  Female    Yes               0               2               0
8    Imran    Male     No               1               0               0
9    Sneha  Female    Yes               0               2               0
10     Raj    Male    Yes               1               2               0
11   Divya  Female     No               0               0               0
12   Kabir    Male    Yes               1               2               0
13  Simran  Female    Yes               0               2               1
14   Karan    Male     No               1               0               0
15   Pooja  Female    Yes               0               2               0
16  Rakesh    Male    Yes               1               2               0
17    Isha  Female     No               0               0               0
18   Rohit    Male    Yes               1               2               0
19   Deepa  Female    Yes               0               2               1

    City_Chennai  City_Delhi  City_Mumbai
0              0           1            0
1              0           0            1
2              0           0            0
3              0           0            1
4              0           1            0
5              1           0            0
6              0           0            0
7              0           1            0
8              1           0            0
9              0           0            1
10             1           0            0
11             0           1            0
12             0           0            1
13             0           0            0
14             0           1            0
15             0           0            1
16             1           0            0
17             0           1            0
18             0           1            0
19             0           0            0

In [5]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

scaler = StandardScaler()
X_standard = scaler.fit_transform(x)

scaler = MinMaxScaler()
X_minmax = scaler.fit_transform(x)

NameError: name 'x' is not defined

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    'StudyHours' : [1,2,3,4,5],
    'TestScore' : [40,50,60,70,80]
}
df = pd.DataFrame(data)
standard_scaler = StandardScaler() #x-u/sd
standard_scaled = standard_scaler.fit_transform(df)

print("Standard ScalerOutput :")
print(pd.DataFrame(standard_scaled,columns=['StudyHours','TestScore']))

minmax_scaler = MinMaxScaler()  # X-Xmin/Xmax-Xmin
minmax_scaled = minmax_scaler.fit_transform(df)

print("MinMax Scaled Output :")
print(pd.DataFrame(minmax_scaled,columns=['StudyHours','TestScore']))


X = df[['StudyHours']]
y = df[['TestScore']]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

print("Training Data")
print(X_train)

print("Test Data")
print(X_test) 

print("Training Data")
print(y_train)

print("Test Data")
print(y_test) 


print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

# Supervised ML

## Linear Regression

In [3]:
from sklearn.linear_model import LinearRegression
X = [[1],[2],[3],[4],[5]]
y = [40,50,65,75,90]

model = LinearRegression()
model.fit(X,y)
hours = float(input("Enter how many hours you studies :"))
predicted_marks = model.predict([[hours]])
print(f"Based your study hours {hours},you may got around {predicted_marks} marks")

Enter how many hours you studies : 10

Based your study hours 10.0,you may got around [151.5] marks

## Classification

### LogisticRegression

In [12]:
from sklearn.linear_model import LogisticRegression
X = [[1],[2],[3],[4],[5]]
y = [0,0,1,1,1]

model = LogisticRegression()
model.fit(X,y)
hours = float(input("Enter how many hours you studies :"))
result = model.predict([[hours]])[0]

if result == 1:
    print(f"Based your study hours {hours},you may likely PASS")
else:
    print(f"Based your study hours {hours},you may likely FAIL")

Enter how many hours you studies : 2.5

Based your study hours 2.5,you may likely PASS

### KNN - KNeighborsClassifier

In [16]:
from sklearn.neighbors import KNeighborsClassifier
X = [
    [180,7],
    [200,7.5],
    [250,8],
    [300,8.5],
    [330,9],
    [360,9.5]
]
y = [0,0,0,1,1,1]
model = KNeighborsClassifier(n_neighbors = 3)
model.fit(X,y)

weights = float(input("Enter the weights(grams) :"))
size = float(input("Enter the size(cm) :"))

prediction = model.predict([[weights,size]])[0]
#model.predict([[280,2.3]])[0] > 1 [1]    [0] -> 1

if prediction == 0:
    print("You may likely apple")
else:
    print("You may likely Orange")

Enter the weights(grams) : 360
Enter the size(cm) : 9

You may likely Orange

### DecisionTreeClassifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# nested if else
X = [
    [7,2],
    [8,3],
    [9,8],
    [10,9]
]
y = [0,0,1,1]

model = DecisionTreeClassifier()
model.fit(X,y)

size = float(input("Enter the size(cm) :"))
shade = float(input("Enter the color shade (0-10) :"))
result = model.predict([[size,shade]])[0]

if result == 0 :
    print("This is likely an Apple")
else:
    print("This is likely an Orange")

1) Accuracy:
(Correct Predictions) / (Total Predictions)

Measures overall correctness of the model

accuracy = accuracy_score(y, y_pred)

2) Precision:
TP / (TP + FP)

Out of all predicted Oranges, how many were actually Oranges

precision = precision_score(y, y_pred)

3) Recall:
TP / (TP + FN)

Out of all actual Oranges, how many were correctly identified

recall = recall_score(y, y_pred)

4) F1-Score:
2 * (Precision * Recall) / (Precision + Recall)

Balance between Precision and Recall

In [23]:
'''
accurancy = correct_pred / total_pred
sklearn.metrics

model accuracy
'''
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

#True answers (what actually happened)
y_true = [1,0,1,1,0,1,0]
#Model's Predictions (what it guessed)
y_pred = [1,0,1,0,0,1,1]

#evalution
print("Accuracy : ",accuracy_score(y_true,y_pred))
print("precision : ",precision_score(y_true,y_pred))
print("recall : ",recall_score(y_true,y_pred))
print("f1 score : ",f1_score(y_true,y_pred))

Accuracy :  0.7142857142857143
precision :  0.75
recall :  0.75
f1 score :  0.75

### Confusion Metrics

In [28]:
'''
# Confusion Matrix format:
# [[TN, FP],
#  [FN, TP]]

TN (True Negative)  → Apple predicted as Apple
FP (False Positive) → Apple predicted as Orange
FN (False Negative) → Orange predicted as Apple , no-apple predicted as apple
TP (True Positive)  → Orange predicted as Orange, no-apple predicted as no-apple

              Apple   Orange
Actual Apple     TN       FP
Actual Orange    FN       TP
0 - 0     1 - 0
0 - 1     1 - 1
'''
from sklearn.metrics import confusion_matrix
y_true = [1,0,1,1,0,1,0,0,1,0]
y_pred = [1,0,1,0,0,1,1,0,1,0]

cm = confusion_matrix(y_true,y_pred)
print("Confusion Matrix : ")
print(cm)

Confusion Matrix :
[[4 1]
 [1 4]]

In [2]:
'''
Mean Absolute Error
1 - take the mistackes differences
2 - remove the minus sign
3 - add
4 - devide

MSE Mean Squared Error
1 - mistackes square them
2 - add
3 - divide total

RMSE Root Mean Squared Error
'''
from sklearn.metrics import mean_absolute_error,mean_squared_error
import numpy as np

real_score = [90,60,80,100]

#model guess
predicted_score = [85,70,70,95]

mae = mean_absolute_error(real_score,predicted_score)
mse = mean_squared_error(real_score,predicted_score)
rmse = np.sqrt(mse)

print("MAE : ",mae)
print("MSE : ",mse)
print("RMSE : ",rmse)

MAE :  7.5
MSE :  62.5
RMSE :  7.905694150420948

## Project : Student Marks Prediction

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# Load dataset
data = pd.read_csv("student.csv")

# Define features and target properly
X = data[['Hours']]   # DataFrame with numeric values
y = data['Score']     # Series with numeric values

# Train model
model = LinearRegression()
model.fit(X, y)

# Predictions
predicted_score = model.predict(X)

# Evaluation metrics
mae = mean_absolute_error(y, predicted_score)
mse = mean_squared_error(y, predicted_score)
rmse = np.sqrt(mse)

print("MAE : ", mae)
print("MSE : ", mse)
print("RMSE : ", rmse)

# Predict for new input
new_hour = float(input("Enter hours : "))
new_pred = model.predict([[new_hour]])   # Must be 2D array
print(f"Prediction for {new_hour} is score {new_pred[0]}")

MAE :  0.6666666666666679
MSE :  0.6285714285714313
RMSE :  0.7928249671720936

Enter hours :  9

Prediction for 9.0 is score 97.77142857142857

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(